@import url("nature.css");


body {
    font-family: helvetica, sans-serif;
}

.section h1 {
    font-size: 260% !important;
    font-family: helvetica, sans-serif !important;
    color: white !important;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black !important;
    background: #f89a3e !important;
}

.section h2 {
    font-size: 200% !important;
    font-family: helvetica, sans-serif !important;
    color: white !important;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black !important;
    background: #ffd773 !important;
}

.section a {
    color: #e45121;
}

.related[role="navigation"] {
    background: #7b2863;
}

.right {
    background: #7b2863;
}

.related[role="navigation"] a {
    color: white;
}
